apiVersion: apps/v1
kind: Deployment
metadata:
  name: research-backend
  labels:
    app: research-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: research-backend
  template:
    metadata:
      labels:
        app: research-backend
    spec:
      containers:
        - name: research-backend
          image: gcr.io/devops-477616/research-backend:latest
          env:
            - name: MONGODB_URI
              value: "mongodb+srv://shankaravadhulasa_db_user:Shankara108*@cluster0.bmvpnxt.mongodb.net/?appName=Cluster0"
            - name: JWT_SECRET
              value: "your_super_secret_jwt_key_change_this_in_production"
            - name: PORT
              value: "5000"
            - name: NODE_ENV
              value: "production"
          ports:
            - containerPort: 5000
              protocol: TCP
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
          livenessProbe:
            httpGet:
              path: /api/auth/me
              port: 5000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/auth/me
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
