apiVersion: apps/v1
kind: Deployment
metadata:
  name: research-frontend
  labels:
    app: research-frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: research-frontend
  template:
    metadata:
      labels:
        app: research-frontend
    spec:
      containers:
        - name: research-frontend
          image: gcr.io/devops-477616/research-frontend:latest
          ports:
            - containerPort: 80
              protocol: TCP
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "100m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
